.mat-dialog-title {
  display: flex;
  justify-content: space-between;
}

.mat-dialog-title > * {
  margin-top: auto;
  margin-bottom: auto;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}
