.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav-content .mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.top-right {
  margin-left: auto;
}

.sidenav-tree-invisible {
  display: none;
}

.sidenav-tree ul,
.sidenav-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.sidenav-tree .mat-nested-tree-node div[role=group] {
  padding-left: 10px;
}

.sidenav-tree div[role=group] > .mat-tree-node {
  padding-left: 10px;
}

.active-link {
  background: rgba(155, 155, 155, 0.1);
}
