<div mat-dialog-title>
  <h1 i18n>Category</h1>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-error *ngIf="error">{{error}}</mat-error>

<div mat-dialog-content>

  <!--Bar chart-->

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label i18n>Id</mat-label>
      <input matInput formControlName="_id">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label i18n>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label i18n>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label i18n>Image</mat-label>
      <mat-select formControlName="image">
        <mat-option *ngFor="let image of images" [value]="image">
          {{image.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label i18n>Order</mat-label>
      <input type="number" matInput formControlName="order">
    </mat-form-field>

    <mat-slide-toggle formControlName="active" color="primary">
      <span i18n>Active</span>
    </mat-slide-toggle>

    <mat-dialog-actions align="end">
      <a mat-button [mat-dialog-close]="true" (click)="deleteCategory()" i18n>Delete</a>
      <button type="submit" color="primary" mat-button i18n>Save</button>
    </mat-dialog-actions>

  </form>
</div>
