.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.mat-dialog-title > * {
  margin-top: auto;
  margin-bottom: auto;
}

.twofactor-numbers {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px;
}

.twofactor-numbers > * {
  text-align: center;
  font-weight: bold;
  width: 50px;
}
