.container {
  width: 400px;
}

.mat-dialog-title {
  display: flex;
  justify-content: space-between;
}

.mat-dialog-title > * {
  margin-top: auto;
  margin-bottom: auto;
}

.checkout-button {
  width: 100%;
  margin-bottom: 14px;
}
