<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" class="mat-elevation-z2">
      <img src="assets/logo_light.png" width="100">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let category of categories" [routerLink]="['items', category._id]">
        {{category.name}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="accent" class="mat-elevation-z2">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="top-right">
        <button mat-icon-button href="/shoppingcart" [routerLink]="['shoppingcart']">
          <mat-icon [matBadge]="items" matBadgeColor="primary">shopping_cart</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
