<div mat-dialog-title>
  <h1 ii8n>Shipping</h1>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-error *ngIf="error">{{error}}</mat-error>

<div mat-dialog-content>

  <!--Bar chart-->

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label ii8n>Id</mat-label>
      <input matInput formControlName="_id">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label ii8n>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label ii8n>Price</mat-label>
      <input matInput formControlName="price">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label ii8n>Weight in gram</mat-label>
      <input matInput formControlName="weight">
    </mat-form-field>

    <h2>Size</h2>
    <div class="half-width">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label ii8n>Width</mat-label>
        <span matSuffix>mm</span>
        <input matInput type="number" formControlName="width">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label ii8n>Height</mat-label>
        <span matSuffix>mm</span>
        <input matInput type="number" formControlName="height">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label ii8n>Length</mat-label>
        <span matSuffix>mm</span>
        <input matInput type="number" formControlName="length">
      </mat-form-field>
    </div>

    <mat-dialog-actions align="end">
      <a mat-button [mat-dialog-close]="true" (click)="deleteShipping()" ii8n>Delete</a>
      <button type="submit" color="primary" mat-button ii8n>Save</button>
    </mat-dialog-actions>

  </form>
</div>
